body {
    margin: 0;
    font-family: sans-serif;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    img {
        width: 105px;
    }
}

.tab-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #efefef;
    list-style: none;
    padding: 0;
    margin: 0;
    .tab {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        a {
            color: #868e96;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:after {
                content: "";
                background: #000;
                width: 120%;
                height: 4px;
                display: block;
                position: absolute;
                bottom: 0;
                left: -10%;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
            &.active:after {
                opacity: 1;
            }
        }
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        margin-top: 1rem;
        border-radius: 2px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 350px;
        .card-main {
            display: flex;
            flex-direction: column;
            position: relative;
            outline: none;
            color: inherit;
            text-decoration: none;
            overflow: hidden;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            .card-main-media img {
                width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
            .card-main-content {
                padding: .5rem 1.5rem;
                border-bottom: 1px solid #efefef;
                h4 {
                    margin: .5rem 0 0;
                }
            }
        }
        .card-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            box-sizing: border-box;
            min-height: 52px;
            padding: .5rem;
            .card-footer-button {
                margin: 0 1rem;
                font-weight: 600;
                color: var(--mdc-theme-text-icon-on-background,rgba(0,0,0,.38));
            }
        }
    }
}