body {
    margin: 0;
    font-family: sans-serif;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    z-index: 1000;
    position: relative;
    img {
        width: 105px;
    }
}

.tab-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    .tab-list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 65px;
        border-bottom: 1px solid $grey-2;
        background: rgba(255,255,255,0.96);
        list-style: none;
        padding: 0;
        margin: 0;
        .tab {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 1.2rem;
            a {
                color: $grey-5;
                text-decoration: none;
                transition: all .3s linear;
                &:hover {
                    cursor: pointer;
                    color: $grey-4;
                }
                &:after {
                    content: "";
                    background: #000;
                    width: 120%;
                    height: 4px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: -10%;
                    opacity: 0;
                    transition: opacity .3s linear;
                }
                &.active:after {
                    opacity: 1;
                }
            }
        }
    }
}

.list-group {
    .list-item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        overflow: hidden !important;
        .list-item-main {
            display: flex;
            box-shadow: 0 5px 20px 1px rgba(137, 137, 137, 0.02), 0 3px 5px 0 rgba(137, 137, 137, 0.03);
            .list-item-media {
                width: 33%;
                overflow: hidden;
                background-position: center center;
                background-size: cover;
            }
            .list-item-content {
                .toggle {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
                width: 67%;
                padding: 10px 15px;
                .list-item-heading {
                    display: inline-block;
                    margin: .75rem 0 0;
                    font-weight: 200;
                    small {
                        margin: 0 .5rem;
                        color: $grey-5;
                        vertical-align: 6%;
                    }
                }
            }
        }
        .list-item-tags {
            height: 0;
            background: $bg-color;
            overflow: hidden;
            transition: height .3s linear;
            font-size: .7rem;
            table {
                width: 100%;
                padding: .5rem;
                th {
                    text-align: left;
                    vertical-align: top;
                    white-space: nowrap;
                    line-height: 26px;
                    min-width: 1rem;
                }
            }
            &.active {
                height: 480px;
            }
        }
    }
}

@media (min-width: 767px) {
    .list-group {
        .list-item {
            .list-item-main {
                .list-item-media {
                    min-height: 200px;
                }
            }
        }
    }
    .list-item-tags.active {
        height: 250px;
        overflow-y: scroll;
    }
}

button.btn {
    display: block;
    float: right;
    outline: none;
    box-shadow: none;
    border: none;
    width: 30%;
    height: 24px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    margin-top: -7px;
}